/* BADGE COMPONENT */

.badge {
  border-radius: 22px;
  padding: 0.5rem 2.5rem 1rem 2.3rem;
  font-weight: 600;
  white-space: nowrap;
  font-size: 2rem;
}

.badge--small {
  font-size: 1.6rem;
}

.badge--primary {
  background: var(--color-primary);
  color: white;
}

.badge--secondary {
  background: var(--color-secondary);
  color: white;
}
/* MEDIA QUERIES BADGE COMPONENT */

/* DESKTOP */

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}
