/* INPUT COMPONENT */

.input {
  border-radius: 40px;
  border: 1px solid #ccc;
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}

::placeholder {
  color: #cdcbd7;
}

/* MEDIA QUERIES INPUT COMPONENT */

/* DESKTOP */

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
