<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora doloribus
    sed ea doloremque! Illum, nulla modi. Nulla rerum exercitationem sapiente
    asperiores eaque labore iusto? Non, error! Numquam illum pariatur est
    inventore ipsum suscipit ut? Libero eos molestiae fugit nam distinctio.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="assets/images/icons/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Jhone Lumeo</h3>
        <p class="quote__company">Mosh Company ceo</p>
      </div>
    </div>
  </footer>
</blockquote>
