/* HERO COMPONENT */
.hero {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.hero__tagline {
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 5.5rem;
}

.hero__image {
  width: 100%;
}

.hero__content .btn--stretched {
  padding: 2.2rem 12rem;
}

/* MEDIA QUERIES HERO COMPONENT */

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }
  .hero__content {
    text-align: left;
    align-self: center;
  }
  .hero__content .btn--stretched {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
