/* LINK COMPONENT */

.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

/* MEDIA QUERIES LINK COMPONENT */

/* DESKTOP */

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}
