@import "./_variables.css";
@import "../../components/badges/_badges.css";
@import "../../components/buttons/_buttons.css";
@import "../../components/iconsfolder/_icons.css";
@import "../../components/links/_links.css";
@import "../../components/lists/_lists.css";
@import "../../components/inputs/_input.css";
@import "../../components/cards/_cards.css";
@import "../../components/plans/_plans.css";
@import "../../components/medias/_medias.css";
@import "../../components/quotes/_quotes.css";
@import "../../components/grids/_grids.css";
@import "../../components/testimonials/testimonials.css";
@import "../../components/callouts/_callouts.css";
@import "../../components/collapsibles/_collapsible.css";
@import "../../components/blocks/_blocks.css";
@import "../../components/navbars/_navbars.css";
@import "../../components/hero/_hero.css";
@import "../../components/domain_block/_domain_block.css";

/* TODO:  */
/* FIXME:  */

/* Basic Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* TYPOGRAPHY */

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

/* MEDIA QUERIES TYPOGRAPHY */

/* DESKTOP */

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* PLAN BLOCK COMPONENT */

.block-plans .grid {
  gap: 8rem 4rem;
}

.block-plans .card {
  max-width: 500px;
  margin: 0 auto;
}

/* MEDIA QUERIES PLAN BLOCK COMPONENT */

/* TABLETS */ /* DESKTOP */

/* PLAN COMPONENT */

/* MEDIA QUERIES PLAN COMPONENT */

/* TABLETS */ /* DESKTOP */
