@import "./_variables.css";

/* Basic Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  color: var(--color-primary);
}

/* TODO:  */
/* FIXME:  */
