/* ICON COMPONENT */

.icon {
  width: 64px;
  height: 64px;
}

.icon--small {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: white;
}

.icon-container {
  align-items: center;
  background: #f3f9fa;
  border-radius: 100%;
  display: inline-flex;
  height: 94px;
  justify-content: center;
  width: 94px;
}

.icon-container--accent {
  background: var(--color-accent);
}
